/*
 * Citizen
 *
 * SkinStyles for Extension:SearchThumbs
 * Module: ext.SearchThumbs.less
 * Version: REL1_39 ccc35bc
 *
 * Date: 2026-09-26
*/

.mw-search-result-thumb {
	width: 7em;
	height: 7em;
	object-fit: cover;
	background-color: var( --color-surface-2 );
	border-radius: var( --border-radius-base );
	filter: var( --filter-image-brightness );
}
